<template>
<div class="w-full h-full">
  <div class="w-6/12 h-full mx-auto flex flex-col items-center justify-center">
    <div class="w-52 h-52 py-12">
      <eIcon :config="{ src: 'caete_pt', alt: 'Caeté' }"></eIcon>
    </div>
    <ePlayer
      src="libras"></ePlayer>
  </div>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ePlayer from '../components/ePlayer.vue'
import eIcon from '../components/eIcon.vue'

export default defineComponent({
  components: {
    ePlayer,
    eIcon
  },
  data(){
    return{
    }
  }
})
</script>