<template>
  <div
    :class="class"
    :style="customStyle"
    >
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { blockConfigInterface, blockStyleInterface } from '../types/types'

export default defineComponent({
  props: {
    block: {
      type: Object as PropType<blockConfigInterface>,
      required: true
    }
  },
  data: () => ({
    class: ['absolute'] as [string],
    customStyle: {} as blockStyleInterface
  }),
  mounted() {
    if(this.block.position) {
      if (typeof(this.block.position[0]) === 'string') {
        switch(this.block.position[0]) {
          case 'top':
            this.class.push('self-start')
            break;
          case 'bottom':
            this.class.push('self-end')
            break;
          default:
            this.class.push('self-center')
        }
      } else {
        this.class.push('z-20')
        this.customStyle.top = this.block.position[0] + '%'
      }

      if (typeof(this.block.position[1]) === 'string') {
        switch(this.block.position[1]) {
          case 'left':
            this.class.push('left-0')
            break;
          case 'right':
            this.class.push('right-0')
            break;
          default:
        }
      } else {
        this.class.push('z-20')
        this.customStyle.left = this.block.position[1] + '%'
      }
    }
    if(this.block.size === 'full') {
      this.class.push('w-full', 'h-full')
    } else if (this.block.size) {
      this.customStyle.width = this.block.size[0] === 'auto' ? 'auto' : this.block.size[0] + '%'
      this.customStyle.height = this.block.size[1] === 'auto' ? 'auto' : this.block.size[1] + '%'
    }
  }
})
</script>

<style scoped>

</style>