<template>
  <div class="absolute w-full bottom-0 p-4 text-rbase" ref="barWrapper">
    <div class="control-bar rounded-md">
      <button
        class="hover:text-red-500"
        @click="$emit('update:paused', !paused)"
        >
        <span v-if="!paused" class="ml-2 mr-4 mdi mdi-pause"></span>
        <span v-else class="ml-2 mr-4 mdi mdi-play"></span>
      </button>
      <div
        ref="dragBar"
        class="relative flex items-center flex-grow h-1 bg-white rounded-full cursor-pointer"
        @mousedown="activateProgressBar"
        >
        <div class=" absolute h-1 bg-red-500 rounded-full shadow-inner flex items-center" :style="'width: ' + barSize + '%'">
          <div class="bullet right-0 z-10 bg-red-500">
            <eTooltip :active="dragging">
              {{ newTime }}
            </eTooltip>
          </div>
        </div>
      </div>
      <span
        v-if="controlOptions"
        class="flex items-center">
        <button
          v-for="(button, key) in controlOptions.buttons"
          :key="key"
          class="w-6 h-6 ml-4"
          @click="$emit('toggleButton', button.name)"
          >
          <eIcon
            v-if="toggleStatus[button.name]"
            :config="{ src: button.icon + '-off', alt: button.name }"
            >
          </eIcon>
          <eIcon
            v-else
            :config="{ src: button.icon + '-on', alt: button.name }"
            >
          </eIcon>
        </button>
      </span>
      <button class="mx-4 select-none text-xs w-10" @click="displayRemainingTime = !displayRemainingTime">
        <span v-if="displayRemainingTime">{{ remainingTime }}</span>
        <span v-else>{{ elapsedTime }}</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import eTooltip from './eTooltip.vue'
import eIcon from './eIcon.vue'

import { sceneControlsInterface, toggleObject } from '../types/types'

export default defineComponent({
  name: 'eControls',
  components: {
    eTooltip,
    eIcon
  },
  props: {
    'paused': {
      type: Boolean,
      default: true,
      required: true
    },
    'currentTime': {
      type: Number,
      default: 0,
      required: true
    },
    'duration': {
      type: Number,
      default: 0,
      required: true
    },
    'controlOptions': Object as PropType<sceneControlsInterface>,
    'toggleStatus':  Object as PropType<toggleObject>
  },
  emits: [
    'togglePlay',
    'toggleButton',
    'update:paused',
    'updateTime'
  ],
  data:()=>({
    dragging: false,
    barSize: 0,
    draggingTime: 0,
    isHiding: false,
    volumeBar: false,
    timeout: 0,
    displayRemainingTime: false
  }),
  computed: {
    elapsedTime(): string {
      return this.timeToSeconds(this.currentTime)
    },
    remainingTime(): string {
      return '-' + this.timeToSeconds(Math.abs(this.currentTime - this.duration))
    },
    newTime(): string {
      return this.timeToSeconds(this.draggingTime)
    }
  },
  methods: {
    timeToSeconds (time: number): string {
      const seconds = Math.floor(time % 60)
      const minutes = Math.floor(time / 60 % 60)
      return `${minutes >= 0 ? minutes : 0}:${seconds >= 10 ? seconds : seconds >= 0 ? '0' + seconds : '00'}`
    },

    activateProgressBar (event: MouseEvent): void {
      this.dragging = true
      this.changePlayTime (event)
    },
    dragProgressBar (event: MouseEvent): void {
      if(this.dragging) {
        this.changePlayTime (event)
      }
    },
    changePlayTime (event: MouseEvent): void {
      const dragBar = this.$refs.dragBar as HTMLDivElement
      const newSize = (event.clientX - dragBar.getBoundingClientRect().left) * 100 / dragBar.clientWidth
      this.barSize = newSize < 0 ? 0 : newSize > 100 ? 100 : newSize
      this.draggingTime = this.barSize / 100 * this.duration
    },
    releaseProgressBar () {
      if (this.dragging) {
        this.dragging = false
        this.$emit('updateTime', this.draggingTime)
      }
    }
  },
  watch: {
    currentTime () { this.barSize = this.currentTime / this.duration * 100 },
  },
  mounted () {
    window.addEventListener('mousemove', this.dragProgressBar)
    window.addEventListener('mouseup', this.releaseProgressBar)

    if(this.controlOptions) {
      for(let button of this.controlOptions.buttons){
        if(button.default === true) this.$emit('toggleButton', button.name)
      }
    }
  },
  unmounted () {
    window.removeEventListener('mousemove', this.dragProgressBar);
    window.removeEventListener('mouseup', this.releaseProgressBar);
  }

})
</script>

<style lang="postcss" scoped>
.control-bar {
  @apply relative flex items-center bg-gray-600 text-white p-1 transition duration-500 ease-in-out z-50 w-full;
}

.bullet {
  @apply absolute w-3 h-3 ring-2 ring-red-500 rounded-full shadow cursor-pointer;

  transform: translateX(50%);
}

.chapter {
  @apply bullet;
  @apply ring-0;

  transform: translateX(-50%);
}
</style>