<template>
  <div
    class="w-full h-full"
    :style="config.style">
    <img :src="src" :alt="config.alt" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { imageConfigInterface } from '../types/types'

const icons = import.meta.glob('../assets/icons/*.svg')

export default defineComponent({
  props: {
    config: {
      type: Object as () => imageConfigInterface,
      required: true
    }
  },
  data: () => ({
    src: ''
  }),
  created() {
    icons['../assets/icons/' + this.config.src + '.svg']().then((result) => {
      this.src = result.default
    })
  }
})
</script>

<style scoped>

</style>