<template>
  <div
    class="absolute z-20"
    :style="config.style">
    <img :src="config.src" :alt="config.alt" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { imageConfigInterface } from '../types/types'

export default defineComponent({
  props: {
    config: {
      type: Object as () => imageConfigInterface,
      required: true
    }
  }
})
</script>

<style scoped>

</style>
