<template>
  <eRatio
    :ratio="scene.settings.ratio">
    <div
      class="w-full h-full absolute top-0 left-0 flex justify-center"
      v-for="(layer, layerKey) in scene.layers"
      :key="layerKey"
      :style="'z-index:' + layerKey"
      @click="togglePlay">
      <transition :name="layer.transition">
        <div
          class="w-full h-full relative flex justify-center"
          v-show="typeof layer.toggle !== 'string' || toggleStatus[layer.toggle] === true">
          <eBlocks
            v-for="(block, key) in layer.blocks"
            :key="`block-${key}`"
            :block="block"
            >
            <transition :name="block.transition">
              <component
                v-show="block.timeInterval[0] <= currentTime && block.timeInterval[1] >= currentTime"
                :ref="'component' + key"
                :is="block.type"
                :config="block.config"
                :isShowing="block.timeInterval[0] <= currentTime && block.timeInterval[1] >= currentTime"
                :timeInterval="block.timeInterval"
                v-model:paused="paused"
                ></component>
            </transition>
          </eBlocks>
        </div>
      </transition>
    </div>

    <eControls
      v-model:paused="paused"
      :currentTime="currentTime"
      :duration="scene.settings.duration"
      :controlOptions="scene.controls"
      :toggleStatus="toggleStatus"
      @updateTime="updateTime"
      @togglePlay="togglePlay"
      @toggleButton="toggleButton"
      ></eControls>
  </eRatio>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import eRatio from '../components/eRatio.vue'
import eBlocks from '../components/eBlocks.vue'
import eControls from './eControls.vue'
import eTitle from './eTitle.vue'
import eText from './eText.vue'
import eImage from './eImage.vue'
import eIcon from './eIcon.vue'
import eVideo from './eVideo.vue'

import { sceneInterface, toggleObject } from '../types/types'

import scene from '../scenes/libras.json'

export default defineComponent({
  name: 'ePlayer',
  components: {
    eRatio,
    eBlocks,
    eControls,
    eTitle,
    eText,
    eImage,
    eIcon,
    eVideo
  },
  props: {
    src: {
      type: String,
      required: true
    }
  },
  data: () => ({
    scene: scene as sceneInterface,
    paused: true,
    currentTime: 0,
    currentStartedTime: 0,
    updatedTime: -1,
    toggleStatus: {} as toggleObject
  }),
  methods: {
    togglePlay() {
      this.paused = !this.paused
    },
    play() {
      window.requestAnimationFrame((frame) => {
        this.currentStartedTime = frame
        this.isPlaying(frame)
      })
    },
    isPlaying(timestamp: number) {
      if (this.currentTime <= this.scene.settings.duration && this.currentTime >= 0 && !this.paused) {
        this.currentTime += (timestamp - this.currentStartedTime) / 1000
        this.currentStartedTime = timestamp
        window.requestAnimationFrame(this.isPlaying)
      } else {
        if(this.currentTime < 0) this.currentTime = 0
        if(this.currentTime > this.scene.settings.duration) this.currentTime = this.scene.settings.duration
        this.paused = true
      }
    },
    updateTime(time: number) {
      this.currentTime = time
      window.dispatchEvent(new CustomEvent('updateTime', {detail: time}))
    },
    seek(timeInSeconds: number) {
      this.updateTime(this.currentTime + timeInSeconds)
    },

    toggleButton(toggleName: string) {
      if(toggleName in this.toggleStatus) {
        this.toggleStatus[toggleName] = !this.toggleStatus[toggleName]
      } else {
        this.toggleStatus[toggleName] = true
      }
    },

    keyboardHandler (event: KeyboardEvent) {
      switch(event.code) {
        case 'Space':
          this.togglePlay()
          break
        case 'ArrowRight':
          this.seek(10)
          break
        case 'ArrowLeft':
          this.seek(-10)
          break
      }
    }
  },
  watch: {
    paused() {
      if(!this.paused) {
        if(this.currentTime >= this.scene.settings.duration || this.currentTime < 0) this.updateTime(0)
        this.play()
      }
    }
  },
  mounted() {
    window.addEventListener('keyup', this.keyboardHandler)
  },
  unmounted () {
    window.removeEventListener('keyup', this.keyboardHandler);
  }
})
</script>

<style lang="postcss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s ease;
}
.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.5s ease;
}
.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-100%);
}
</style>
