<template>
  <div class="relative w-full h-full" ref="wrapper">
    <div
      ref="container"
      class="relative mx-auto overflow-hidden"
      :style="calcRatio">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      ratio: Number,
      width: {
        type: String,
        default: '100%'
      },
      fit: {
        type: String,
        default: 'contain'
      }
    },
    data: () => ({
      maxWidth: 0,
      maxHeight: 0
    }),
    methods: {
      calcEnclosingLimits() {
        const wrapper = this.$refs.wrapper as HTMLDivElement
        this.maxWidth = wrapper.clientWidth
        this.maxHeight = wrapper.clientHeight
      }
    },
    computed: {
      calcRatio() : string {
        if(this.ratio) {
          const ratioWidth = this.ratio ? this.maxHeight * this.ratio : this.maxWidth
          const width = Math.min(this.maxWidth, ratioWidth)
          const height = (width / this.ratio)
          const font = height / 24
          return 'width: ' + width + 'px; height: ' + height + 'px; font-size: ' + font + 'px'
        }
        return 'width: 100%; height: 100%;'
      }
    },
    mounted() {
      this.calcEnclosingLimits()
      window.addEventListener('resize', this.calcEnclosingLimits)
    }
  })
</script>

<style lang="postcss" scoped>

</style>