<template>
  <div
    :style="config.style">
    {{ config.text }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { textConfigInterface } from '../types/types'

export default defineComponent({
  props: {
    config: {
      type: Object as () => textConfigInterface,
      required: true
    }
  }
})
</script>

<style scoped>

</style>
