<template>
  <div
    class="flex flex-col"
    :style="config.style">
    <h1 :style="config.titleStyle">{{ config.title }}</h1>
    <h2 :style="config.subTitleStyle">{{ config.subTitle }}</h2>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { titleConfigInterface } from '../types/types'

export default defineComponent({
  props: {
    config: {
      type: Object as () => titleConfigInterface,
      required: true
    }
  }
})
</script>

<style lang="postcss" scoped>
  h1 {
    @apply text-base whitespace-nowrap;
  }
  h2 {
    @apply text-xxs whitespace-nowrap;
  }
</style>