<template>
  <video
    ref="player"
    class="video"
    :style="config.style"
    @canplay="playStatus = 'canplay'"
    @playing="$emit('update:paused', false)"
    @pause="$emit('update:paused', true)"
    @ended="$emit('update:paused', false)"
    >
    <source :src="config.src" type="video/mp4" />
  </video>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { imageConfigInterface } from '../types/types'

export default defineComponent({
  props: {
    paused: Boolean,
    isShowing: Boolean,
    timeInterval: {
      type: Array as PropType<Array<number>>,
      required: true
    },
    config: {
      type: Object as () => imageConfigInterface,
      required: true
    }
  },
  emits: [
    'currentTime',
    'update:paused'
  ],
  data() {
    return {
      playStatus: 'loading'
    }
  },
  computed: {
    player(): HTMLVideoElement {
      return this.$refs.player as HTMLVideoElement
    }
  },
  methods: {
    triggerPlay() {
      if(!this.paused && this.isShowing && this.playStatus === 'canplay') {
        this.player.play().catch((e)=>{
          console.log(e)
        })
      } else if(this.isShowing && this.playStatus !== 'canplay') {
        this.player.pause()
        this.$emit('update:paused', true)
      } else if(this.isShowing) {
        this.player.pause()
      }
    },
    updateTime(time: number) {
      const newTime = time - this.timeInterval[0]
      if(newTime <= 0) {
        this.player.currentTime = 0
      } else if (newTime < this.player.duration) {
        this.player.currentTime = newTime
      }
    },
    log(text: string) {
      console.log(text)
    }
  },
  watch: {
    paused() {
      this.triggerPlay()
    },
    isShowing() {
      this.triggerPlay()
    }
  },
  mounted() {
    window.addEventListener('updateTime', ((event: CustomEvent) => {
      this.updateTime(event.detail)
    }) as EventListener)
  },
  beforeUnmount() {
    window.removeEventListener('updateTime', ((event: CustomEvent) => {
      this.updateTime(event.detail)
    }) as EventListener)
  }
})
</script>

<style scoped>
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
</style>