<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App',
})
</script>

<style>
  #app {
    width: 100vw;
    height: 100vh;
  }
</style>